<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCITPmV5OZkcT0gSWgbdn2QoXGT0_Li2P4</string>
	<key>GCM_SENDER_ID</key>
	<string>137490242625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noMoreWaste.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>no-more-waste-7306f</string>
	<key>STORAGE_BUCKET</key>
	<string>no-more-waste-7306f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137490242625:ios:b608d57438ca224f783ac0</string>
</dict>
</plist>